main {
    padding: 3rem;
}

.RD {
    background-color: #bf0d3e;
    color: #fff;
}

.OR {
    background-color: #ed8b00;
}

.BL {
    background-color: #009cde;
    color: #fff;
}

.GR {
    background-color: #00b140;
    color: #fff;
}

.YL {
    background-color: #ffd100;
}

.SV {
    background-color: #919d9d;
}