.metro_card {
    background-color: #eee;
    border-radius: .25rem;
    width: 15rem;
    padding: 1rem;
}

.station_name {
    text-align: center;
}

.line_list {
    display: flex;
    justify-content: space-around;
}

.info_column_list {
    display: grid;
    gap: 1rem;
}

.info_column {
    align-items: center;
    background-color: #fafafa;
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
}

.alerts_found {
    align-items: center;
    background-color: #e77;
    flex-direction: column;
    justify-content: center;
}